<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Você está logado no Sistema.</p>
    <a class="btn btn-primary mt-3"  asp-controller="Login" asp-action="Logoff">Sair</a>                            
</div>
